body.warning {
	font-family: sans-serif;
	background-color: #7c1e1e;
	color:#ffefef;
}
body.unknown {
	font-family: 'Times New Roman', Times, serif;
	background-color: #000000;
	color:#ffefef;
}
body.no-escape {
	font-family: 'Times New Roman', Times, serif;
	background-color: #000000;
	color:#7c1e1e !important;
}
  
p {
	margin: 20px;
	font-size: 16px;
}

p.other {
	font-family:'Times New Roman', Times, serif;
	color:#000000;
}
.container {
	padding:100px;
}
button {
	border-color: #ffefef;
	border-radius: 5px;
	margin: 5px;
	background-color: #7c1e1e;
	font-family: sans-serif;
	color:#ffefef;
	padding:5px 10px;
}
button:hover{
	border-color: #000000;
	background-color: #000000;
	color:#7c1e1e;
	font-family: 'Times New Roman', Times, serif;
}
button.dark{
	border-color: #7c1e1e;
	background-color: #000000;
	color:#7c1e1e;
	font-family: 'Times New Roman', Times, serif;
}
button.dark:hover{
	border-color: #7c1e1e;
	background-color: #7c1e1e;
	color:#000000;
	font-family: 'Times New Roman', Times, serif;
}
span.redacted {
    color: #000000;
    background-color: #000000;
	font-family: 'Times New Roman', Times, serif;
}
.image {
	width:120px;
}
.buttons {
	float: right;
}
.escape-warning {
	width: 500px;
	padding-top:5%;
	margin: auto;
}